.media-modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 500;
    padding: 25px;

    &__container {
        height: 100%;
        width: 100%;
        background-color: #191c20;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .container {

            &__header {
                box-shadow: 1px 1px 3px #2b2e32;
                z-index: 99999;
                display: flex;
                padding: 0 0 0 25px;
                justify-content: space-between;
                align-items: center;
                .header {
                    &__title {
                        font-size: 19px;
                        font-weight: bold;
                    }
                }

                .modal__close {
                    padding: 10px 30px;
                    cursor: pointer;
                    font-size: 25px;
                }
            }

            &__content {
                display: flex;
                flex-flow: wrap;
                position: relative;
                flex: 1;
            }

            &__image {
                flex: 70%;
                height: 100%;
                background-color: #191c20;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                flex-direction: column;

                .image-info {
                    z-index: 50000;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }

                .toolbar {
                    position: absolute;
                    left: 0;
                    top: 0;
                    padding: 10px 25px;
                    background-color: #2b2e32;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .chooser {
                        display: flex;
                        align-items: center;
                        p {
                            margin-right: 10px;
                            margin-bottom: 0px;
                        }
                    }
                    .image-chooser {
                        width: 150px;
                    }

                    .resizer {
                        position: relative;
                        width: 150px;
                        text-align: center;

                        .resize {
                            font-size: 13px;
                            cursor: pointer;
                            font-weight: 700;
                            text-transform: uppercase;
                            letter-spacing: 1.3px;
                        }

                        .dropdown {
                            background-color: red;
                            padding: 10px;
                            position: absolute;
                            left: 0;
                            top: 150%;
                            border-radius: 3px;
                            width: 100%;
                        }
                    }
                }

                .edit-image {
                    font-weight: 700;
                    font-size: 15px;
                    text-transform: uppercase;
                    letter-spacing: 1.3px;
                    padding: 10px 20px;
                    cursor: pointer;
                }
            }

            &__image-padding {
                width: 50%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 150px;
                }

                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            &__info {
                flex: 30%;
                height: 100%;
                background-color: #1a1b1f;

                .info {
                    &__static {
                        padding: 30px 40px;

                        p {
                            font-size: 12px;
                            margin: 3px 0 0 0;
                            padding: 0;
                        }
                    }

                    &__dynamic {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        padding: 10px 20px;

                        .form-group {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }

                        label {
                            text-align: right;
                            font-size: 11px;
                        }

                    }
                }
            }
        }
    }
}


#image-editor {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 50000;
}
