.select-modal {
    &__overlay {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.8);
        z-index: 1000;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        height: 95%;
        width: 95%;
        background-color: #191c20;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    &__header {
        box-shadow: 1px 1px 3px #2b2e32;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }

    &__close {
        padding: 10px;
        font-size: 30px;
        cursor: pointer;
    }

    &__files {
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
        flex: auto;
        align-content: flex-start;
        background-color: rgba(255, 255, 255, 0.2);
    }

    &__thumbnail {
        height: 120px;
        width: 120px;
        margin-top: 60px;
        margin-left: 20px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
            font-size: 13px;
            text-align: center;
        }
        &:hover {
            opacity: 0.8;
        }
        img {

            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        i {
            font-size: 36px;
        }
    }
}
