.media {
    margin-left: 40px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.thumbnail {
    height: 140px;
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-top: 25px;

    i {
        font-size: 50px;
    }
    &__preload {
        width: 60%;
        height: 10px;
        border-radius: 3px;
        background-color: #2d2e31;
        overflow: hidden;
    }

    &__bar {
        height: 100%;
        background-color: #ed9c28;
        width: 10%;
    }

    &__image {
        max-height: 100%;
        max-width: 100%;
    }


    &:not(&--loading) {
        &:hover {
            cursor: pointer;
        }
    }
}
