@import "components/thumbnail";
@import "components/modal";
@import "components/ImageEditor/imageEditor";
@import "components/select-modal";

.drop {
    z-index: 5000;
    background-color: rgba(29, 54, 55, 0.7);
    min-height: 50vh;
    outline-offset: -10px;
    outline: #fff dashed 1px;
    justify-content: center;
    align-items: center;
    width: 100%;

    &--visible {
        display: flex;
    }

    p {
        font-size: 30px;
    }

    &__fix {
        background-color: red;
        height: 50vh;
        width: 100%;
        opacity: 0;
    }
}
.modal-content {
    background-color: #000;
}
.modal-header .close {
    color: #fff;
}

.media-background-color {
    background-color: rgba(255, 255, 255, 0.2);
}
