.imageEditor {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #191c20;
    display: flex;

    &__left {
        flex: 70%;
    }

    &__right {
        background-color: #1a1b1f;
        flex: 30%;
        display: flex;
        flex-direction: column;

        .info {
            &__static {
                padding: 30px 40px;

                p {
                    font-size: 12px;
                    margin: 3px 0 0 0;
                    padding: 0;
                }
            }

            &__dynamic {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 10px 20px;

                .form-group {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                label {
                    text-align: right;
                    font-size: 11px;
                }

            }
        }
    }

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    &__preview {
        max-height: 80%;
        max-width: 80%;
        position: relative;
        img {
            display: block;

            max-width: 100%;
        }
    }

    &__toolbar-item {
        display: inline-flex;
        padding: 5px 15px;
        background-color: #2b2e32;
        border-radius: 3px;
        margin-top: 10px;
        margin-left: 10px;
        align-items: center;
        cursor: pointer;
        border: 1px solid #2b2e32;
        transition: .2s background-color linear;

        &:hover {
            background-color: transparent;
        }

        i {
            margin-right: 10px;
        }

        span {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
        }
    }

    &__tool-options {
        padding: 10px 30px;
        flex: 1;
    }

    &__save {
        margin-bottom: 50px;
    }

    &__items {
        display: flex;
    }

    .resize-aspect-ratio {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .resize-change-aspect-ratio {
        height: 100%;
        display: flex;
        padding: 0px 10px;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 1px solid #404346;
        cursor: pointer;
    }
    .resize-aspect-ratio-lock {

        svg path {
            fill: #0088cc;
        }
    }

}

